

html,
body {
    --body-color: #162b6f;
    --header-color: #5570b4;
    
    color: var(--body-color);
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

h3 {
    color: var(--header-color);
    font-weight: bold;
}

div {
    box-sizing: border-box;
}

hr {
    width: 100%;
}